name: Main
on: [deployment_status]

jobs:
  test:
    name: Test API Gateway
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ".test"

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: "npm"

      - run: npm install

      - name: Run Tests
        # Useful properties 'environment', 'state', and 'environment_url'
        run: API_URL=${{ toJson(github.event.deployment_status.environment_url) }} mocha test
